<!DOCTYPE html>
<html lang="en">
<head>
    
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        
    <h1>Welcome to about page {{name}}</h1>
        {{>header}}
   <img class="profile" src="/image/profile.JPG" alt="Rahul Jadli" />
<div class="about">Currently working at TCS Digital</div>
 </div>
{{>footer}}
</body>
</html>