body{
    color:rgb(83, 41, 62);
    max-width: 800px;
    margin: 0 auto;
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex-grow: 1;
}
header{
    color:rgb(105, 31, 67);
    margin: 0 auto;
    border-top: 20px;
    padding: 0 28px;

    font-size: 25px;
}
form{
    padding: 4px 80px;

}
p{ padding: 4px 80px;
}

h1{
    font-size: 45px;
}
header a{
    text-decoration: dotted;
    margin-left: 20px;
    color: #888888;
}
footer{
    
    font-size: 35px;
    color:rgb(223, 194, 208);
    margin: 20px auto;
    border-top: 40px;
    padding: 0 28px;

}
input{
    border: 2px solid #cccccc;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    margin-left: 5px;
}
.profile{
    color: aquamarine;

    margin-left: 190px;
}
.about{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}